@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');





/* background-color-web */

.background-color-web{
    background-color: rgba(242, 242, 242, 1);
}


/* nav styles */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 136px;
}

.nav-bangladesh {
    width: 222px;
    font-size: 27px;
    font-weight: 700;
}

.nav-sign-in {
    width: 98px;
    background-color: rgba(247, 247, 247, 1);
    color: rgba(0, 106, 80, 1);
    border-radius: 6px;
    border-color: rgba(0, 106, 80, 1);
    height: 44px;
}

/* header */
.header {
    border-radius: 20px;
    background: rgba(198, 228, 214, 1);
    display: flex;
    padding: 68px 85px;
    margin-left: 136px;
    margin-right: 136px;
    margin-top: 15px;
    justify-content: space-between;

}

.head-contenars {
    gap: 24px;
}

.sub-title {
    color: rgba(14, 14, 14, 0.5);
    font-size: 20px;
    margin-top: 99px;
}

.title {
    font-size: 47px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0%;
    margin-top: 10px;
}

.btn-ban {
    border-radius: 6px;
    background: rgba(0, 106, 80, 1);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    padding: 17px 34px 17px 34px;
    border: none;
    cursor: pointer;
    margin-bottom: 99px;
    margin-top: 10px;
}

/* pillars section */
.pillar-container {
    display: flex;
    gap: 30px;
    margin-top: 27px;
}

.innovation {
    color: rgba(14, 14, 14, 0.8);
    font-size: 17px;
    font-weight: 700;
}

.innovation-paragraph {
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
    font-size: 15px;
}

.pillars {
    background-color: rgb(255, 255, 255);
}

.pillar-sec {
    justify-content: space-between;
    padding: 60px 136px;
}

/* vision styles */

/* margin--margin */

.future {
    margin-left: 136px;
    margin-right: 136px;
    margin-top: 60px;
    margin-bottom: 60px
}

.vision-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 17px;
    font-weight: 700;
}

.vision-discription {
    color: rgba(14, 14, 14, 0.7);
    font-size: 13px;
    font-weight: 400;
}

.digital {
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 10px;
    padding: 20px;
}

.Green {
    background-color: rgba(198, 228, 214, 1);
    border-radius: 10px;
    padding: 20px;
}

.Modern {
    background-color: rgba(247, 235, 207, 1);
    border-radius: 10px;
    padding: 20px;
}

.vision-contanier {
    display: flex;
    gap: 30px;
}

.vision-discription {
    margin-top: 25px;
}

/* button styles */

.btn-digital {
    border-radius: 6px;
    border: none;
    background-color: rgba(84, 144, 245, 1);
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 11px 20px 11px 20px;
    cursor: pointer;
    margin-top: 15px;

}

.btn-energy {
    border-radius: 6px;
    border: none;
    background-color: rgba(9, 161, 92, 1);
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 11px 20px 11px 20px;
    cursor: pointer;
    margin-top: 15px;
}

.btn-modern {
    border-radius: 6px;
    border: none;
    background-color: rgba(255, 194, 57, 1);
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 11px 20px 11px 20px;
    cursor: pointer;
    margin-top: 15px;
}

/* Dr. Muhammad Yunus section */
.dr {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 1);
}

.dr-discription {
    color: rgba(14, 14, 14, 0.8);
    font-size: 13px;

}


.dr-discription {
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 40px;
}

.dr-subtitle {
    color: rgba(14, 14, 14, 0.8);
    font-size: 13px;
}

.dr-title {
    color: rgba(14, 14, 14, 0.8);
    font-weight: 600;
    font-size: 20px;
    margin-top: 12px;
}

/* news section */

.news-section-main {
    margin-left: 136px;
    margin-right: 136px;
    margin-bottom: 60px;
}

.news {
    color: rgba(14, 14, 14, 1);
    font-weight: 700;
    font-size: 34px;
}

.img {
    border-radius: 24px;
    width: 386px;
    height: 260px;
}

.news-discription {
    color: rgba(14, 14, 14, 0.7);
    font-size: 13px;
}

.date-time {
    display: flex;
    gap: 10px;
}

.n-color {
    color: rgba(14, 14, 14, 0.7);
}

.btn-Satellite {
    border-radius: 6px;
    background-color: rgba(0, 106, 80, 1);
    width: 118px;
    height: 40px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.news-section {
    display: flex;
    gap: 27px;
    align-items: center;
    margin-bottom: 50px;
}

/* donate section */

.donate-section-main {
    margin-left: 136px;
    margin-right: 136px;
    margin-bottom: 60px;
}

.donate-subtitle {
    font-size: 16px;
    text-align: center;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 10px;
}

.donate-title {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

.donate-section {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.taka {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
}

.taka-sec {
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    padding: 10px;
}


/* donate amount */
.amount {
    width: 877px;
    height: 54px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24;
    border-radius: 6px;
    border: none;
}

.other-amount {
    /* Frame 2087325514 */
    width: 1032px;
    height: 64px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24;
    padding: 20px 40px 20px 40px;
}

.btn-done {
    border-radius: 6px;
    background-color: rgba(0, 106, 80, 1);
    width: 118px;
    height: 40px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* subscribe section */


.subscribe-title {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

.subscribe-discription {
    font-size: 13px;
    text-align: center;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 10px;
}

.subscribe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.btn-email {
    border-radius: 6px 0px 0px 6px;
    background: rgba(255, 255, 255, 1);
    width: 510px;
    height: 46px;
    border: none;

}

.subscribe-btn {
    border-radius: 0px 8px 8px 0px;
    background: rgba(0, 106, 80, 1);
    width: 127px;
    height: 47px;
    border: none;
    cursor: pointer;
}

/* footer */

.footer{
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-section{
    margin-top: 80px;
}